* {
    margin: 0px;
}

#three_scene {
    height: 95%;
}

body {
    overflow: hidden;
    z-index: 5;
}

#gui {
    position: absolute;
    top: 2px;
    right: 2px;
}


#info {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50%;
    text-align: left;
    z-index: 1;
    display: block;
    font-size: x-small;
    user-select: none;
}